* {
	font-family: "Poppins", sans-serif;
	color: #ffffff;
}
a {
	color: inherit !important;
	text-decoration: none !important;
}

html, body {
	background-color: #15130b;
	scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
	background-color:#15130b;
}
.navbar .nav-link {
	padding: .5rem 1rem !important;
}
.navbar .nav-link.active {
	color: #ba9e67 !important;
}

/* HOME */
#home {
	background-color: #15130b;
}
#home .container .row {
	height: 100vh;
}
#home .scroll-hero {
    position: absolute;
    bottom: 0;
    top: auto;
    right: auto;
    margin-bottom: 70px;
    left: 50%;
    z-index: 2;
    cursor: pointer;
}

/* INTRO */
#introduction {
	background-color: #15130b;
}


/* FEATURED */
#featured {
	background-color: #15130b;
	text-align: center;
}
.feature-icon {
    width: 300px;
    height: 200px;
    margin: 0 auto;
}
.feature-icon img {
	width: 50%;
}

/* CATEGORIES */
#categories-section {
	background-color: #15130b;
}
#categories-section .nav-tabs {
	border-bottom: none;
}
#categories-section .nav .nav-item .nav-link {
	text-align: right;
	color: #ffffff;
}
#categories-section .nav .nav-item button.active {
  background-color: transparent;
  color: var(--bs-warning) !important;
}
#categories-section .nav .nav-item button.active::after {
  content: "";
  border-right: 4px solid var(--bs-warning);
  height: 100%;
  position: absolute;
  right: -1px;
  top: 0;
  border-radius: 5px 0 0 5px;
}
#categories-section .modal-dialog {
  max-width: 750px;
}

/* ABOUT */
#about {
	background-color: #15130b;
}

/* CONTACTS */
#contact {
	background-color: #15130b;
}
#contact form * {
	color: #212529;
}

@media only screen and (max-width: 991px) {
  #home .scroll-hero {
      display: none;
  }


}
